$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

@mixin sm {
    @media (min-width: #{$sm-min}) {
        @content;
    }
 }

 @mixin md {
    @media (min-width: #{$md-min}) {
        @content;
    }
 }

 @mixin lg {
    @media (min-width: #{$lg-min}) {
        @content;
    }
 }

 @mixin xl {
    @media (min-width: #{$xl-min}) {
        @content;
    }
 }