@use 'abstracts/colors';
@use 'components/container';
@use 'components/header';
@use 'abstracts/breakpoints.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

$border:.1rem solid rgba(0,0,0,.1);
$box-shadow:0, .5rem 1rem rgba(0, 0, 0, 0.904);

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  border: none;
  text-decoration: none;
  transition: .2s linear;
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

:root{
  --gradient-color: linear-gradient(to right bottom, rgba(255,119, 48, .8), rgba(255,185, 0, .8));
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  background: colors.$green;
  color: colors.$white;
  font-size: 1.7rem;
  cursor: pointer;

  &:hover{
    background: colors.$black;
  }
}

.card-container{
  
  @include grid(35rem);
  @include breakpoints.sm {
      @include grid(45rem)
  }

  font-size: 1.2rem;

  .card {
    display: flex;
    flex-direction: column;
    box-shadow: 2px .8rem 1rem rgba(0,0,0,.05);
  }

  .image-data {
    height: 25rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    transition: transform 5s;
  }
  
  .card:hover .background-image {
    transform: scale(1.5);
  }

  .publication-details {
    width: 100%;
    height: 100%;
    background: colors.$gradient;
    font-size: 1.4rem;
    color: colors.$white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    transform: translateY(-100%);
    transition: transform 0.5s;
  }

  .card:hover .publication-details {
    transform: translateY(0);
  }

  .publication-details i {
    width: 1.2rem;
    margin-right: 1rem;
  }

  .author {
    display: inline-block;
    margin-bottom: .5rem;
    transition: all .5s;
    // transform: translateX(-3rem);
    // opacity: 0;
  }

  .author:hover {
    color: rgba(255, 255, 255,.75);
  }

  .date {
    display: block;
    // transform: translateX(-3rem);
    // opacity: 0;
  }

  // .card:hover .author,
  // .card:hover .date {
  //   transform: translateX(0);
  //   opacity: 1;
  // }

  .post-data {
    background-color: colors.$white;
    padding: 2rem 3rem;
    position: relative;
  }

  .title{
    font-size: 3rem;
    line-height: 1;
  }

  .subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #a2a2a2;
    margin: 1rem 0 1.5rem 0;
  }

  .description {
    position: relative;
  }

  .description::first-letter {
    margin-left: 1rem;
  }

  .description::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: 2rem;
    background-color: rgba(255,119, 48, .8);
    border-radius: 2rem;
  }

  .cta{
    text-align: right;
    font-weight: bold;
    margin-top: 1rem;
  }

  .cta a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
  }

  .cta a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--gradient-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
  }

  .cta a:hover::before{
    transform: scaleX(1);
  }
}

@media screen and (min-width: 600px) {
  .card{
    flex-direction: row;
    max-height: 75rem;
  }
}

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  .header{
    padding:2rem;
  }

  // section{
  //   padding:3rem 2rem;
  // }
}

@media (max-width:768px){

  #menu-btn{
    display: inline-block;
  }

  // .header{
  //   .navbar{
  //     position: absolute;
  //     top:99%; left:0; right:0;
  //     background: colors.$white;
  //     border-top: $border;
  //     border-bottom: $border;
  //     clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

  //     &.active{
  //       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  //     }

  //     a{
  //       margin:1.5rem;
  //       padding:1.5rem;
  //       background: colors.$light-bg;
  //       font-size: 2rem;
  //       display: block;
  //       border-radius: .5rem;
  //     }
  //   }
  // }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }
}